<h1>New game</h1>
<div class="d-flex align-items-center">
  <%@letters.each do |letter| %>
    <span><%=letter%></span>
  <% end %>
</div>

<form action="/score" method="get" data-turbo="false" class="d-flex p-2">
  <%= hidden_field_tag :letters, @letters %>
  <div class="m-4 container">
    <p>whats the longest word you can find?</p>
    <input type="text" name="answer" class="form-control col-lg-8">
    <input type="submit" value="Play" class="btn btn-primary">
  </div>
</form>
