<div class="container mt-5">

  <h1>Result</h1>


  <% if @included %>

    <% if @english_word %>
      <p class="form-prefix"><%= @string %></p>
    <% else %>
      <p class="form-prefix"><%= @string %></p>
    <% end %>

  <% else %>
    <p class="form-prefix"><%= @string %></p>
  <% end %>

<%= link_to "Play again", root_path, class: "btn btn-primary mt-2" %>



</div>
